body {
    margin: 0px auto;
    font-family: sans-serif;
    background: linear-gradient(
        to bottom, hsl(189,100%,92%) 0%,hsl(192,90%,80%) 100%
    );
    background-repeat: no-repeat;
    width: 100vw;
    min-height: 100vh;
    overflow-x: hidden;
}


h1, h2 { margin: 0px; }

a { color: hsl(233, 90%, 55%); text-decoration: none; outline: none; }
article-item > a { display: block; color: hsl(0, 0%, 10%); }

f { display: inline; }
equation { display: block; }

button {
    background: linear-gradient(to bottom, hsl(0, 0%, 96%), hsl(0, 0%,92%));
    border: 1px solid hsl(0, 0%, 70%);
    border-radius: 3px;
    color: hsl(0, 0%, 30%);
    padding: 6px 8px;
}

button:hover:enabled {
    background: linear-gradient(to bottom, hsl(0, 0%, 99%), hsl(0, 0%, 97%));
    cursor: pointer;
}

button:active:enabled {
    background: radial-gradient(hsl(0, 0%, 95%), hsl(0, 0%, 87%));
}

button:focus {
    border: 1px solid hsl(0, 0%, 60%);
    outline: 0;
    outline: none;
}

button:disabled {
    background: hsl(0, 0%, 90%);
    color: hsl(0, 0%, 60%);
}

button::-moz-focus-inner {
  border: 0;
}

blog, wrapper, header, title-bar, nav-bar, content, article-list, article-item, summary, page, article-detail { display: block; }
tags, tag, publish-date { display: inline-block; }
tag[data-current="true"] { font-weight: bold; }


blog {
    width: 57vw;
    margin: 40px auto;
    padding: 22px 35px;
    background-color: hsla(0, 0%, 99%, 0.6);
    box-shadow: 0px 0px 2px 4px hsla(0, 0%, 60%, 0.3);
}


@media only screen and (max-width: 1224px) {
    blog {
        width: 100vw;
        box-sizing: border-box;
        margin: 0px auto;
    }
}


blog.loading > wrapper, blog.failed > wrapper {
    display: flex;
    height: 85vh;
    justify-content: center;
    align-items: center;
    flex-flow: column nowrap;
    font-size: 120%;
}


nav-bar, article-item:first-child, article, page {
    border-top: 1px solid hsl(233, 80%, 87%);
}
article-item { border-bottom: 1px solid hsl(233, 80%, 87%); }


title-bar > h1 { font-size: 32px; }
title-bar > h1 + p { font-size: 18px; }
title-bar > h1 + p { margin: 10px 0px 0px 0px; padding-bottom: 20px; }

nav-bar { padding: 10px 14px; font-size: 22px; }
nav-bar > * { margin: 0px 12px; color: hsl(0, 0%, 20%); }


content { margin: 0px; }


article-item { padding: 24px 28px; }
article-item > a > summary { padding: 8px 0px 18px 15px; }

article-item > a > h2 { font-size: 28px; }
article-item > a > summary { font-size: 20px; }
article-item > a > summary { color: hsl(0, 0%, 25%); }

item-detail > * { margin-right: 20px; }
item-detail > * { font-size: 18px; color: hsl(0, 0%, 25%); }
item-detail img { width: 16px; height: 16px; margin-right: 6px; }

publish-date, tags { display: inline-flex; align-items: center; }

tags[data-n="0"] { display: none; }
tag { margin-right: 6px; }


article-list-pager { display: flex; justify-content: center; }
article-list-pager { padding: 20px 0px; }
pager-widget { display: flex; justify-content: center; height: 35px; }
pager-widget > * { display: block; box-sizing: border-box; }
pager-widget > * { margin: 0px 5px; height: 100%; }
pager-widget > input { width: 115px; text-align: center; }
pager-widget > button { width: 45px; }


article, page { padding: 24px 18px; position: relative; }
article > h1 { font-size: 28px; }
article > div.date-indicator { margin-top: 24px; color: hsl(0, 0%, 40%); }

pre.code {
    font-size: 22px;
    border-radius: 6px;
    background-color: hsla(0, 0%, 99%, 0.45) !important;
}
