body {
    margin: 0px auto;
    font-family: sans-serif;
    background-color: hsl(0, 0%, 90%);
}


@media only screen and (min-width: 1224px) {
    body {
        width: 60%;
        box-sizing: border-box;
    }
}


a {
    color: hsl(233, 90%, 55%);
    text-decoration: none;
    outline: none;
}


blog, wrapper, header, title-bar, nav-bar, content, article-list, article-item, summary, page {
    display: block;
}


blog {
    padding: 0.8em 1em;
}


blog.loading > wrapper, blog.failed > wrapper {
    display: flex;
    height: 85vh;
    justify-content: center;
    align-items: center;
    flex-flow: column nowrap;
    font-size: 120%;
}


header, article, article-item, page {
    background-color: hsl(0, 0%, 97%);
    border: 1px solid hsl(0, 0%, 80%);
    padding: 3% 5%;
    box-shadow: 0 3px 9px hsla(0, 0%, 40%, 0.6);
}


header {
    display: flex;
}


title-bar {
    flex-grow: 1;
}


h1 {
    margin: 0px;
}


title-bar > h1 {
    margin: 0.5% 0%;
    font-size: 200%;
}


title-bar > h1 + p {
    margin: 1.5% 0.5%;
    font-size: 115%;
    color: hsl(0, 0%, 30%);
}


nav-bar {
    margin: 1.5% 1% 0% 1%;
    max-width: 45%;
    display: flex;
    flex-flow: column wrap-reverse;
    justify-content: space-around;
    align-items: flex-end;
    padding-bottom: 1.5%;
}


nav-bar > * {
    margin: 0% 1.5%;
    font-size: 130%;
    display: block;
    white-space: nowrap;
}



content {
    margin: 2.5vh 0%;
    font-size: 120%;
}


article-item {
    margin-bottom: 2.5vh;
}


.title {
    margin: 1% 0%;
    color: hsl(0, 0%, 18%);
    font-size: 170%;
    font-weight: bold;
    display: block;
}


article-item > summary {
    font-size: 120%;
    padding: 2% 4%;
    color: hsl(0, 0%, 50%);
}
