body {
    margin: 0px auto;
    font-family: sans-serif;
    background-color: hsl(0, 0%, 90%);
    width: 100vw;
    height: 100vh;
}


#react_root {
    width: 100%;
    height: 100%;
}


a {
    color: hsl(233, 90%, 55%);
    text-decoration: none;
    outline: none;
}


button {
    background: linear-gradient(to bottom, hsl(0, 0%, 96%), hsl(0, 0%,92%));
    border: 1px solid hsl(0, 0%, 70%);
    border-radius: 3px;
    color: hsl(0, 0%, 30%);
    padding: 6px 8px;
}


button:hover:enabled {
    background: linear-gradient(to bottom, hsl(0, 0%, 99%), hsl(0, 0%, 97%));
    cursor: pointer;
}


button:active:enabled {
    background: radial-gradient(hsl(0, 0%, 95%), hsl(0, 0%, 87%));
}


button:focus {
    border: 1px solid hsl(0, 0%, 60%);
    outline: 0;
    outline: none;
}


button:disabled {
    background: hsl(0, 0%, 90%);
    color: hsl(0, 0%, 60%);
}


button::-moz-focus-inner {
  border: 0;
}


text-field {
    display: block;
}


text-field > label {
    display: block;
    margin-bottom: 5px;
    color: hsl(0, 0%, 35%);
}


text-field > input, text-field > textarea {
    display: block;
    box-sizing: border-box;
    width: 100%;
}


dialog-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}


dialog-box {
    display: block;
    width: 100%;
    padding: 2% 3%;
    background-color: hsl(0, 0%, 98%, 0.94);
}


@media only screen and (min-width: 1224px) {
    dialog-box {
        width: 25%;
        border: 1px solid hsl(0, 0%, 80%);
        box-shadow: 0 3px 9px hsla(0, 0%, 40%, 0.6)
    }
}


dialog-title, dialog-content {
    display: block;
}


dialog-title {
    font-size: 200%;
    font-weight: bold;
    padding-bottom: 2%;
}


hr {
    color: hsl(0, 0%, 85%);
}


dialog-content {
    padding-top: 0.5%;
}


dialog-content > * {
    display: block;
    margin: 2.5% auto;
}


dialog-content > input {
    font-size: 135%;
    width: 98%;
}


dialog-content > button {
    font-size: 140%;
    min-width: 38%;
    text-align: center;
    margin: 4.5% auto 0% auto;
}


form-message {
    display: block;
    font-size: 110%;
    text-align: center;
    margin: 3.5% 0% 2.5% 0%;
}


form-message[data-status=pending] {
    display: none;
}


form-message[data-status=failed] {
    color: hsl(0, 90%, 65%);
}


form-message[data-status=success] {
    color: hsl(110, 90%, 40%);
}


loading-tip, main-view {
    background-color: hsl(0, 0%, 97%);
}


loading-tip {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}


loading-tip > span {
    font-size: 150%;
}


main-view {
    display: flex;
    width: 100%;
    height: 100%;
}


side-bar {
    flex-basis: 21%;
    background-color: hsl(0, 0%, 96%);
    border-right: 1px solid hsl(0, 0%, 70%);
    overflow-y: auto;
}


edit-area {
    flex-grow: 1;
    background-color: hsl(0, 0%, 99%);
}


bar-list {
    display: block;
}


bar-list, bar-list * {
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
}


bar-list:not(:last-child) {
    margin-bottom: 3vh;
}


bar-item {
    display: flex;
    justify-content: space-between;
    height: 5vh;
    padding: 2% 4%;
}


bar-item.no-indent {
    border-bottom: 1px solid hsl(0, 0%, 70%);
}


bar-item.indent {
    cursor: pointer;
}


bar-item.indent > *:first-child {
    margin-left: 6vh;
}


bar-item > *:last-child {
    visibility: hidden;
    cursor: pointer;
}


bar-item:hover > *:last-child {
    visibility: visible;
}


bar-item.indent:hover {
    background-color: hsl(0, 0%, 90%);
}


bar-item.indent[data-selected=true] {
    background-color: hsl(0, 0%, 88%);
}


bar-item img {
    height: 100%;
    width: auto;
}


bar-item span {
    color: hsl(0, 0%, 30%);
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}


bar-item-body {
    display: flex;
    align-items: center;
    height: 100%;
    flex-grow: 1;
    font-size: 120%;
}


bar-item-body > * {
    margin-right: 4%;
}


.editor {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}


.editor > :first-child {
    width: 93%;
    height: 96%;
}


.editor h1 {
    margin: 1% 0% 2.5% 0%;
}


.editor text-field {
    width: 100%;
    margin: 0% 0% 1.2% 0%;
}


.editor label {
    font-size: 110%;
}


.editor text-field > input, .editor text-field > textarea {
    font-size: 155%;
}


.editor button {
    min-width: 10%;
    font-size: 145%;
}


.form-body {
    margin-bottom: 1.5%;
}


editor-tab-bar {
    display: block;
    font-size: 110%;
    margin-bottom: 1.5%;
}


editor-tab-bar > a {
    margin-right: 2%;
}


editor-tab-bar > a.disabled {
    color: hsl(0, 0%, 15%);
    cursor: default;
}


textarea[name=summary] {
    height: 8vh;
}


textarea[name=content] {
    min-height: 50vh;
}


a.preview {
    font-size: 120%;
}
